
.banner{
    width: 100%;
    height: auto;
}
.banner img{
    width: 100%;
    height: auto;
}
.banner img:nth-child(2){
    display: none;
}
.banner img:nth-child(3){
    display: none;
}
.banner img:nth-child(4){
    display: none;
}
.banner img:nth-child(5){
    display: none;
}
.banner img:nth-child(6){
    display: none;
}
/*头部 结束*/
/*内容 开始*/
.journalism{
    width: 1000px;
    height: auto;
    margin:0 auto;
}
.gyugiimg1 img{
   width: 70%;
   height: auto;
   margin: 0 auto;
}
.journalism h3{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}
.journalism p{
    margin-top: 20px;
}
.ljsh div .xixian{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DDD;
 }
 .gyugiimg2{
    width: 100%;
    height: auto;
 }
 .gyugiimg2 img{
    width: 100%;
    height: auto;
    margin-top: 80px;
 }
/*标题 结束*/
.case_bj{
    margin-top: 50px;
    width: 260px;
    height: 208px;
}
.case_al{
    font-size: 0;
    width: 1070px;
    height: auto;
    margin: 0 auto;
}
.case_al a{
    display: inline-block;
    margin-right: 10px;
}
.case_al a:nth-child(4n){
    margin-right:  0px;
}
.case_bj{
    width: 260px;
    height: 208px;
    background:url(../images/anli2.jpg);
    overflow: hidden;
}
.case_bj:hover .case_jh{
    transform:translate(0,0);
}
.case_jh{
    width: 260px;
    height: 208px;
    background-color:#000;
    transform:translate(0,208px);
    transition:all 0.5s ease;
    opacity: 0.6;
}
.case_jh h4{
    padding-top: 20px;
    font-size: 14px;
    color: #FFF;
    margin-left: 20px;
}
.case_jh p{
    width: 220px;
    font-size: 12px;
    color: #FFF;
    margin-top: 20px;
    margin-left: 20px;
}
.wamg a{
    display: inline-block;
    padding-left: 10px;
    border-left: 2px solid #666;
}
/*内容 结束*/
.tabtitle a{
    font-size: 14px;
    color: #FFF;
}
.ljsh{
    margin-bottom: 50px;
}
.diyi>div:nth-child(1){
    width: 100%;
    height: auto;
}
 .diyi>div:nth-child(1) div{
   width: 50%;
   height: auto;
}
.jinrwuship h4{
    font-size: 20px;
    color: #ff0000;
    margin-bottom: 20px;
    font-weight: bold;
}
.jinrwuship p{
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.jinrwuship p span{
    font-size: 14px;
    color: #000;
}
.jinrwuship div{
    width: 50%;
    height: auto;
}
.jinrwuship div img{
    width: 50%;
    height: auto;
}
.jinrygohd{
    width: 100%;
    height: auto;
}
.jinrygohd div:nth-child(1){
    width: 30%;
    height: auto;
}
.jinrygohd div:nth-child(1) img{
    width: 100%;
    height: auto;
}
.jinrygohd div:nth-child(2){
    width: 70%;
    height: auto;
}
.jinrygohd div:nth-child(2) h4{
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
}
.jinrygohd div:nth-child(2) p{
    font-size: 14px;
    color: #333;
}
.jinrgshiweilai div:nth-child(1){
    width: 70%;
    height: auto;
}
.jinrgshiweilai div:nth-child(1) h4{
    font-size: 20px;
    color: #ff0000;
}
.jinrgshiweilai div:nth-child(2){
    width: 30%;
    height: auto;
}
.tabtitle{
    width: 60%;
    height: 60px;
    margin: 0 auto;
    font-size: 0;
}
.ljsh .ec_l_j .tabhover{
    background: #ff0000;
}
.tabtitle li{
   width: 33%;
   height: 40px;
   line-height: 40px;
   font-size: 14px;
   display: inline-block;
   background-color: #999;
   text-align: center;
}
.tabtitle li:hover{
    background: #ff0000;
}
.tabcontent{
    width: 60%;
    margin:40px auto;
}
.diyi h3{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.diyi p{
    width: 100%;
    margin: 20px auto;
    line-height: 30px;
    font-size: 14px;
}
.wamg li{
    font-size: 14px;
    margin-top: 20px;
}
.wamg li a{
    margin-left: 14px;
}
.disan h3{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.disan p{
    margin-top: 10px;
    font-size: 14px;
}
.ditu{
    width: 100%;
    height:400px;
    background: url(../images/ditu.jpg)no-repeat;
    background-size:100% auto;
}
.dianh{
    font-size: 22px;
    line-height: 100px;
    color: #333;
}
/*底部 开始*/
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .banner{
        height: 400px;
    }
}
@media screen and (max-width: 749px){
  .banner img:nth-child(1){
    display: none;
  }

  .banner img:nth-child(2){
    display: block;
  }
  .ljsh .ec_l_j ul{
    width: 300px;
    margin: 0 auto;
  }
  .ljsh .ec_l_j .tabtitle li{
    width: 100px;
    line-height: 30px;
    height: 30px;
  }
  .gyugiimg1 img{
    width: 100%;
   height: auto;
  }
}