
.banner{
    width: 100%;
    height: auto;
     background-size: 100% auto;
}
.banner img{
    width: 100%;
    height: auto;
    bottom: 0;
}
.banner img:nth-child(2){
    display: none;
}
.banner img:nth-child(3){
    display: none;
}
.banner img:nth-child(4){
    display: none;
}
.banner img:nth-child(5){
    display: none;
}
.banner img:nth-child(6){
    display: none;
}
/*头部 结束*/
.nr{
    text-align: center;
    margin-top: 40px;
}
.nr h4{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.nr p{
    
    line-height: 26px;
    font-size: 14px;
}
.nr div{
    height: 2px;
    width: 82px;
    margin: 10px auto;
    background-color: #ff0000;
}
.crm{
    width: 1000px;
    height: auto;
    margin: 20px auto 0;
}
.crm>img:nth-child(1){
    width: 100%;
    height: auto;
}
.crm>img:nth-child(2){
    display: none;
    width: 100%;
    height: auto;
}
.crm3{
    width: 1000px;
    height: auto;
    margin: 22px auto 0; 
}
.crm3 img{
   width: 100%;
   height: auto;
}
/*底部 开始*/
/*底部 结束*/
@media screen and (min-width: 1401px) and (max-width: 1500px){
    .crm{
        width: 900px;
   
    }
    .crm3{
        width: 900px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .crm3{
        height:auto;
    }
}
@media screen and (min-width: 750px) and (max-width: 970px){
    .crm{
        width: 80%;
     
    }
    .crm3{
       width: 80%;
    }
    .nr h4{
        font-size: 20px;
    }
    .nr p{
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 971px) and (max-width: 1199px){
    .crm{
        width: 70%;
        height: 400px;
    }
    .crm3{
        width: 80%;
        height: 600px;
    }
}
@media screen and (max-width: 749px){
  .banner img:nth-child(1){
    display: none;
  }
  .banner img:nth-child(2){
    display: block;
  }
  .nr div{
    margin: 10px 0 10px 20px;
  }
}
