
.banner{
    width: 100%;
    height: auto;     
}
.banner img{
    width: 100%;
    height: auto;
}
.banner img:nth-child(2){
    display: none;
}
.banner img:nth-child(3){
    display: none;
}
.banner img:nth-child(4){
    display: none;
}
.banner img:nth-child(5){
    display: none;
}
.banner img:nth-child(6){
    display: none;
}
/*头部 结束*/
/*内容 开始*/
.journalism{
    width: 1000px;
    height: auto;
    margin:0 auto;
}
.journalism h4{
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}
.journalism .journalism_gsmz{
    font-size: 22px;
    margin-top: 30px;
    text-align: center;
}
.journalism p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #333;
}
.shij{
    margin-left: 80%;
    font-size: 14px;
}
/*标题 结束*/
.case_bj{
    margin-top: 50px;
    width: 260px;
    height: 208px;
}
.case_al{
    font-size: 0;
    width: 1070px;
    height: auto;
    margin: 0 auto;
}
.case_al a{
    display: inline-block;
    margin-right: 10px;
}
.case_al a:nth-child(4n){
    margin-right:  0px;
}
.case_bj{
    width: 260px;
    height: 208px;
    background:url(../images/anli2.jpg);
    overflow: hidden;
}
.case_bj:hover .case_jh{
    transform:translate(0,0);
}
.journalism .journalism_zi_bti p{
   text-align: center;
   font-size: 14px;
   margin-top: 10px;
   color: #333;
}
.journalism_zi_tiaozhuan{
    width: 1000px;
    margin: 0 auto;
}
.journalism_zi_tiaozhuan a{
    font-size: 14px;
    padding: 4px 20px;
    display: inline-block;
      line-height: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 4px 20px;
    cursor: pointer;
    border: 1px solid #1aa6e4;
    border-radius: 0px;
    text-align: center;
}
.journalism_zi_tiaozhuan a:hover{
   padding: 4px 20px;
    line-height: 30px;
    font-size: 14px;
    transition: all 0.5s ease;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 10px;
}
.journalism .journalism_zi_bti{
    border-bottom: 1px solid #666;
}
.case_jh{
    width: 260px;
    height: 208px;
    background-color:#000;
    transform:translate(0,208px);
    transition:all 0.5s ease;
    opacity: 0.6;
}
.case_jh h4{
    padding-top: 20px;
    font-size: 16px;
    color: #FFF;
    margin-left: 20px;
}
.case_jh p{
    width: 220px;
    font-size: 12px;
    color: #FFF;
    margin-top: 20px;
    margin-left: 20px;
}
.xwen{
    width: 1000px;
    margin: 0 auto;
}
.xwen h4{
    font-size: 20px;
    color: #000;
}
.xwen p{
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.journalism img{
    width: 600px;
    height: auto;
    margin: 0 auto;
}
.xwen div a{
    font-size: 14px;
    width: 160px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background-color: #ff0000;
    transition:all 0.5s ease;
}
.xwen div a:hover{
    border: 1px solid #ff0000;
    border-radius: 20px;
    color: #ca6928;
    background-color: #fff;
}
/*内容 结束*/

/*底部 开始*/

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .banner{
        height: 400px;
    }
}
@media screen and (min-width: 970px) and (max-width: 1200px){
    .journalism{
        width: 80%;
        margin: 0 auto;
    }
    .xwen{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 750px) and (max-width: 969px){
    .journalism{
        width: 80%;
        margin: 0 auto;
    }
    .xwen{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 749px){
 
  .banner img:nth-child(1){
    display: none;
  }
  .banner img:nth-child(2){
    display: block;
  }
}
