.dao{
    top: 0;
}

.hender_dh>li>ol{
    position: absolute;
    top: 100px;
    background-color:  #FFF;
    width: 10%;
    display: none;
    transform:translate(-10px,0);
    transition:all 0.5s ease;
} 
.dao .hender_dh>li>a{
    font-size: 16px;
}
.hender_dh>li>ol>li>a{
    font-size: 18px;
    color: #333;
     display: inline-block;
    width: 100%;
    height: 100%;
}
.hender_dh>li>ol>li{
    height: 50px;
      line-height: 50px;
}
.hender_dh>li>ol>li:hover{
    background-color: #dc2223;
}
.hender_dh>li>ol>li:hover>a{
    font-size: 18px;
    color: #FFF;
}
.dh_hover:hover ol{
    display: block;
}
.daodianh{
   line-height: 100px;
   color: #000;
   font-size: 20px;
}
.banner{
    width: 100%;
    height: auto;
     background-size: 100% auto;
}
.banner img{
    width: 100%;
    height: auto;
    bottom: 0;
}
.banner img:nth-child(2){
    display: none;
}
.banner img:nth-child(3){
    display: none;
}
.banner img:nth-child(4){
    display: none;
}
.banner img:nth-child(5){
    display: none;
}
.banner img:nth-child(6){
    display: none;
}
/*头部 结束*/
.nr{
    text-align: center;
    margin-top: 40px;
}
.nr h4{
    font-size: 20px;
}
.nr p{
    margin-top: 20px;
    line-height: 26px;
    font-size: 14px;
}
.crm{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.crm>img:nth-child(1){
    width: 100%;
    height: auto;
}
.crm>img:nth-child(2){
    display: none;
    width: 100%;
    height: auto;
}
.crm3{
    width: 1000px;
    height: auto;
    margin: 0 auto; 
}
.crm3 img{
   width: 100%;
   height: auto;
}
/*底部 开始*/
/*底部 结束*/
@media screen and (min-width: 1401px) and (max-width: 1500px){
    .crm{
        width: 1000px;
    }
    .crm3{
        width: 1000px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
   
    
    .crm3{
        height:auto;
    }
}
@media screen and (min-width: 750px) and (max-width: 970px){
    .crm{
        width: 80%;
     
    }
    .crm3{
       width: 80%;
    }
    .nr h4{
        font-size: 20px;
    }
    .nr p{
        font-size: 14px;
    }
}
@media screen and (min-width: 971px) and (max-width: 1199px){
    .crm{
        width: 70%;
        height: 400px;
    }
    .crm3{
        width: 80%;
        height: 600px;
    }
}
@media screen and (max-width: 749px){
 
  .banner img:nth-child(1){
    display: none;
  }
  .banner img:nth-child(2){
    display: block;
  }
}
