
.banner{
    width: 100%;
  
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: auto;
}
.banner img:nth-child(2){
    display: none;
}
.banner img:nth-child(3){
    display: none;
}
.banner img:nth-child(4){
    display: none;
}
.banner img:nth-child(5){
    display: none;
}
.banner img:nth-child(6){
    display: none;
}
/*头部结束*/
.news_fm{
    margin-top: 50px;
text-align: center;
}
.sou{
    width: 700px;
    height: 40px;

}
.tijiao{
    position: relative;
    left: -50px;
    top: 0;
    height: 44px;
    width: 50px;
}
.kuan{
    width: 798px;
    height: 58px;
    background: url(../images/ssk.jpg);
    margin:0 auto;
}
.ec_help_zi{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.ec_help_zi h3{
    font-size: 20px;
    color: #333;
    width:100%;
    border-bottom: 1px solid #999; 
    margin-top: 40px;
}
.ec_help_zi p{
    font-size: 16px;
    color: #333;
    margin-top: 30px;
}
.ec_help_zi h4{
    font-size: 20px;
    color: #333;
    margin-top: 40px;
}
.ec_help_zi a{
    display:block;
    font-size: 16px;
    color: #333;
    margin-top: 6px;
    cursor:pointer;
}
.ec_help_zi>div:nth-child(1){
    width: 850px;
}
.ec_help_zi>div:nth-child(2){
    width: 150px;
    margin-top: 30px;
}
.ec_help_zi>div:nth-child(2) a{
    font-size: 18px;
    margin-top: 30px;
}
/*底部 开始*/
@media screen and (max-width: 749px){
    .ec_help_zi{
        width: 100%;
        margin-bottom: 60px;
    }
    .ec_help_zi>div:nth-child(2){
        display: none;
    }
    .ec_help_zi>div:nth-child(1) {
        width: auto;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1401px) and (max-width: 1500px){
    .ec_help_zi{
        width: 900px;
    }
    .ec_help_zi>div:nth-child(1) {
        width: 750px;
    }
}
@media screen and (min-width: 750px) and (max-width: 970px){
    .ec_help_zi>div:nth-child(2){
        width:20%;
    }
    .ec_help_zi{
        width: 80%;
    }
    .ec_help_zi>div:nth-child(1){
        width: 80%;
    }
}